
div {
  line-height: normal;

}
h1{font-size:50px;
   font-family:Jameel Noori Nastaleeq;
   text-align:center;
   Color:white;
  	 
}

.font{
   font-size:20px;
  	 
}

h2{
   font-family:Jameel Noori Nastaleeq;
   text-align:center;
   Color:white;
  	 
}

body {
		background-color:#2F4F4F;
	dir:rtl;
	Color:white;
}
 
.div {
	border-width:3px;
	border-style:solid;
	}
p {
font-size: 25px;
   text-align:justify;

}


table {
	border-color:#696969;
	text-align:center;
	}
.border {
	border-width:2px;
	border: 1px solid #dddddd;
	}

td, tr {
	text-align:center;
	padding: 8px;
	}

.tr  {
	font-family:Jameel Noori Nastaleeq;
	font-size:20px;
	color:#006400;
	background-color:#BDB76B;
	}
.td	{
	font-size:20px;
	font-family:Jameel Noori Nastaleeq;
	}
.c{
 {

	padding: 8px;
	}
} 

.a {
text-align:center;
font-size: 25px;
}

.b {
background-color:#2F4F4F;

text-align:center;
}